<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tennis Tournaments 2024</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1 class="mt-5">Welcome to Tennis Tournaments</h1>
<p>This index page exists in case further years will be added</p>
<button class="btn btn-primary" onclick="location.href='{{ url_for('tournaments') }}'">View Tournaments 2024</button>
</body>
</html>