<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1 class="mt-5">Matches</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Match Number</th>
        <th>Winner Name</th>
        <th>Loser Name</th>
        <th>Score</th>
        <th>Round</th>
        <th>Minutes</th>
    </tr>
    </thead>
    <tbody>
    {% for match in matches %}
    <tr>
        <td>{{ match[0] }}</td>
        <td><a href="{{ url_for('player_graph', player_name=match[5]) }}">{{ match[5] }}</a></td>
        <td>{{ match[12] }}</td>
        <td>{{ match[18] }}</td>
        <td>{{ match[20] }}</td>
        <td>{{ match[21] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>